.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
}

.iconSmall {
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .icon {
    width: 80px;
    height: 80px;
  }

  .iconSmall {
    width: 40px;
    height: 40px;
  }
}

